@using net_il_mio_fotoalbum.Data
@model List<Photo>


<h1>Le tue Foto</h1>
@foreach (var photo in Model)
{
    <div class="row">
        <div class="col">@photo.Title</div>
        <div class="col">@photo.Description</div>
        <div class="col"><img src="@photo.ImageUrl" alt="@photo.Title" width="100" /></div>
        <div class="col">@photo.IsVisible</div>
        <div class="col"><a href="@Url.Action("GetPhoto", "Photo", new { id = photo.Id })">Dettagli</a></div>
        <div class="col"><a href="@Url.Action("UpdatePhoto", "Photo", new { id = photo.Id })">Modifica</a></div>
        <div class="col">
            <form asp-controller="Photo" asp-action="DeletePhoto" asp-route-id="@photo.Id" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="delete-button">
                    DELETE
                </button>
            </form>
        </div>

    </div>
}
<a href="@Url.Action("CreatePhoto", "Photo")">Aggiungi Foto</a>